.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(60, 61, 61);
  color: aliceblue;
}

.SideBarContainer {
  display: inline-block;
  width: 250px;
  height: calc(100% - 65px);
  background-color: #58657b;
  padding: 0;
}

.BodyContent {
  display: inline-block;
  width: auto;
  position: absolute;
  padding-top: 30px;
  padding-left: 30px;
  margin-top: 0;
}

#gantt {
  height: 700px;
}

.cardDiv {
  padding: 10px;
}
