.dragNDrop {
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
  align-items: start;
}
.dndGroup {
  background-color: #49505e;
  border-radius: 5px;
  padding: 0.5rem;
}

.container {
  background-color: #282c34;
  display: flex;
  /* flex-direction: column;
 align-items: center;
 justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.dndItem {
  display: inline-block;
  padding: 2px;
}

.alert {
  margin-bottom: 1px;
  height: 35px;
  line-height: 30px;
  padding: 0px 15px;
  text-align: center;
}

.alertTitle {
  position: relative;
}

.alertEdit {
  position: absolute;
  right: 5px;
  top: 0;
}

.footer {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.btn {
  margin: 5px;
}
