.mycontainer {
  width: 100%;
  height: calc(100% - 65px);
}

.estimationSummaryTable {
  width: 100%;
}

.btnMargin {
  margin: 5px;
}

.move-right {
  width: 100%;
  text-align: right;
  padding-right: 20px;
}

.color-blue {
  color: blue;
}

.cursor-pointer {
  cursor: pointer;
}

.smallBtn {
  height: 50px;
}

.addUserBtn {
  width: 100%;
  text-align: center;
}

.decomposeBtn {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.whitetext {
  color: white;
}

.alignCenter {
  text-align: center;
  align-self: center;
  align-items: center;
  align-content: center;
}

.CostCardAlert {
  margin: 0;
}

.CostCartHeader {
  padding: 0;
  margin: 0;
}

.VerticalText {
  transform: "rotate(90deg)";
}
