.container {
  width: 100%;
  align-items: center;
  align-content: center;
  align-self: center;
}

.form {
  width: 1000px;
  height: 550px;
  overflow-y: auto;
  align-items: center;
  align-content: center;
}
