.SideBar {
  height: auto;
  width: auto;
  background-color: #8fe868;
  padding: 0;
  margin: 0;
}

.SideBarList {
  height: auto;
  width: 100%;
  padding: 0;
}

.SideBarList .SideBarRow:hover {
  cursor: pointer;
  background-color: #1b3815;
  color: #ffffff;
}

.SideBarList .SideBarRow {
  height: 60px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: #02052e;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  align-items: center;
}

#active {
  background-color: #316b24;
  color: #ffffff;
}

.SideBarRow #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.SideBarRow #title {
  flex: 70%;
}
